@import '../../common/var.scss';
@import '../../mixins/mixin.scss';

@include b(button) {
  width: 64px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  user-select: none;
  border-style: none;
  background-color: #409eff;

  &:hover {
    cursor: pointer;
    background-color: #3375b9;
  }

  @include when(disabled) {
    cursor: not-allowed;
    background-color: #409eff;
  }
}