@import '../../common/var.scss';
@import '../../mixins/mixin.scss';

@include b(buttonDisaled) {
  width: 80px;
  height: 32px;
  user-select: none;
  border-style: none;
  vertical-align: middle;

  &:hover {
    cursor: pointer;
  }

  // type
  @include m(primary) {
    @include button-type($button-primary-color);
    // @include button-type-select($button-primary-select-color);
  }

  @include m(success) {
    @include button-type($button-success-color);
    // @include button-type-select($button-success-select-color);
  }

  @include m(danger) {
    @include button-type($button-danger-color);
    // @include button-type-select($button-danger-select-color);
  }

  // is
  @include when(circle) {
    width: 32px;
    height: 32px;
    border-radius: 16px;
  }

  @include when(disabled) {
    cursor: not-allowed;
  }

  @include when(round) {
    border-radius: 16px;
  }
}