.button-danger {
  width: 64px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  user-select: none;
  background-color: $button-danger-color;
}
.button-danger:hover {
  cursor: pointer;
  background-color: $button-danger-hover-color;
}