@import '@/components/vxw/style.scss';
// primary状态
.button-primary {
  width: 64px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  user-select: none;
  background-color: $button-primary-color;
}
.button-primary:hover {
  cursor: pointer;
  background-color: $button-primary-hover-color;
}
// success状态
.button-success {
  width: 64px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  user-select: none;
  background-color: $button-success-color;
}
.button-success:hover {
  cursor: pointer;
  background-color: $button-success-hover-color;
}
// danger状态
.button-danger {
  width: 64px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  user-select: none;
  background-color: $button-danger-color;
}
.button-danger:hover {
  cursor: pointer;
  background-color: $button-danger-hover-color;
}