/* 主题样式 */

// 默认主题
$button-primary-color: #409eff;
$button-primary-select-color: #3375b9;
$button-success-color: #67c23a;
$button-success-select-color: #4e8e2f;
$button-danger-color: #f56c6c;
$button-danger-select-color: #b25252;